/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/print.scss */
nav {
  display: none; }

/* line 9, ../sass/print.scss */
body {
  padding: 0; }

/* line 13, ../sass/print.scss */
.panel {
  width: 100%; }
  /* line 15, ../sass/print.scss */
  .panel .container {
    margin-top: 20px;
    width: 90%; }

/* line 21, ../sass/print.scss */
.overflow {
  display: list-item !important; }

/* line 25, ../sass/print.scss */
.hide-print {
  display: none !important; }

/* line 30, ../sass/print.scss */
#resume .timeline {
  top: 30px; }
