/*------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------*/
/* line 1, ../sass/mixins/_responsive_helpers.scss */
.show-xs {
  display: none; }

/* line 2, ../sass/mixins/_responsive_helpers.scss */
.show-sm {
  display: none; }

/* line 3, ../sass/mixins/_responsive_helpers.scss */
.show-md {
  display: none; }

/* line 4, ../sass/mixins/_responsive_helpers.scss */
.show-lg {
  display: block; }

/* line 6, ../sass/mixins/_responsive_helpers.scss */
.hide-xs {
  display: block; }

/* line 7, ../sass/mixins/_responsive_helpers.scss */
.hide-sm {
  display: block; }

/* line 8, ../sass/mixins/_responsive_helpers.scss */
.hide-md {
  display: block; }

/* line 9, ../sass/mixins/_responsive_helpers.scss */
.hide-lg {
  display: none; }

@media (max-width: 1200px) {
  /* line 13, ../sass/mixins/_responsive_helpers.scss */
  .show-xs {
    display: none; }

  /* line 14, ../sass/mixins/_responsive_helpers.scss */
  .show-sm {
    display: none; }

  /* line 15, ../sass/mixins/_responsive_helpers.scss */
  .show-md {
    display: none; }

  /* line 16, ../sass/mixins/_responsive_helpers.scss */
  .show-lg {
    display: block; }

  /* line 18, ../sass/mixins/_responsive_helpers.scss */
  .hide-xs {
    display: block; }

  /* line 19, ../sass/mixins/_responsive_helpers.scss */
  .hide-sm {
    display: block; }

  /* line 20, ../sass/mixins/_responsive_helpers.scss */
  .hide-md {
    display: block; }

  /* line 21, ../sass/mixins/_responsive_helpers.scss */
  .hide-lg {
    display: none; } }
@media (max-width: 992px) {
  /* line 25, ../sass/mixins/_responsive_helpers.scss */
  .show-xs {
    display: none; }

  /* line 26, ../sass/mixins/_responsive_helpers.scss */
  .show-sm {
    display: none; }

  /* line 27, ../sass/mixins/_responsive_helpers.scss */
  .show-md {
    display: block; }

  /* line 28, ../sass/mixins/_responsive_helpers.scss */
  .show-lg {
    display: block; }

  /* line 30, ../sass/mixins/_responsive_helpers.scss */
  .hide-xs {
    display: block; }

  /* line 31, ../sass/mixins/_responsive_helpers.scss */
  .hide-sm {
    display: block; }

  /* line 32, ../sass/mixins/_responsive_helpers.scss */
  .hide-md {
    display: none; }

  /* line 33, ../sass/mixins/_responsive_helpers.scss */
  .hide-lg {
    display: none; } }
@media (max-width: 740px) {
  /* line 37, ../sass/mixins/_responsive_helpers.scss */
  .show-xs {
    display: none; }

  /* line 38, ../sass/mixins/_responsive_helpers.scss */
  .show-sm {
    display: block; }

  /* line 39, ../sass/mixins/_responsive_helpers.scss */
  .show-md {
    display: block; }

  /* line 40, ../sass/mixins/_responsive_helpers.scss */
  .show-lg {
    display: block; }

  /* line 42, ../sass/mixins/_responsive_helpers.scss */
  .hide-xs {
    display: block; }

  /* line 43, ../sass/mixins/_responsive_helpers.scss */
  .hide-sm {
    display: none; }

  /* line 44, ../sass/mixins/_responsive_helpers.scss */
  .hide-md {
    display: none; }

  /* line 45, ../sass/mixins/_responsive_helpers.scss */
  .hide-lg {
    display: none; } }
@media (max-width: 480px) {
  /* line 49, ../sass/mixins/_responsive_helpers.scss */
  .show-xs {
    display: block; }

  /* line 50, ../sass/mixins/_responsive_helpers.scss */
  .show-sm {
    display: block; }

  /* line 51, ../sass/mixins/_responsive_helpers.scss */
  .show-md {
    display: block; }

  /* line 52, ../sass/mixins/_responsive_helpers.scss */
  .show-lg {
    display: block; }

  /* line 54, ../sass/mixins/_responsive_helpers.scss */
  .hide-xs {
    display: none; }

  /* line 55, ../sass/mixins/_responsive_helpers.scss */
  .hide-sm {
    display: none; }

  /* line 56, ../sass/mixins/_responsive_helpers.scss */
  .hide-md {
    display: none; }

  /* line 57, ../sass/mixins/_responsive_helpers.scss */
  .hide-lg {
    display: none; } }
/* line 14, ../sass/mixins/_mtk_brand.scss */
::selection {
  background: #dfdfdf;
  color: black;
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

/* line 22, ../sass/mixins/_mtk_brand.scss */
::-moz-selection {
  background: #dfdfdf;
  color: black;
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

/* line 31, ../sass/mixins/_mtk_brand.scss */
body {
  font-size: 24px;
  margin: 0;
  background: #3b3d43; }

/* line 37, ../sass/mixins/_mtk_brand.scss */
html, body {
  height: 100%;
  width: 100%; }

/* line 72, ../sass/mixins/_mtk_brand.scss */
.pull-left {
  float: left; }

/* line 73, ../sass/mixins/_mtk_brand.scss */
.pull-right {
  float: right; }

/* line 74, ../sass/mixins/_mtk_brand.scss */
.clearfix {
  clear: both; }

/* line 75, ../sass/mixins/_mtk_brand.scss */
.group:before,
.group:after {
  content: "";
  display: table; }

/* line 77, ../sass/mixins/_mtk_brand.scss */
.group:after {
  clear: both; }

/* line 78, ../sass/mixins/_mtk_brand.scss */
.group {
  zoom: 1; }

/* line 1, ../sass/mixins/_keycap.scss */
.key {
  display: inline-block !important;
  position: relative;
  top: -5px;
  width: 40px;
  height: 45px;
  margin: 2px;
  border-width: 3px 7px 10px;
  border-style: solid;
  border-radius: 4px;
  background: #d3cfcc;
  border-color: #ece8e4 #dedad6 #c9c4c4; }
  /* line 15, ../sass/mixins/_keycap.scss */
  .key .keycap {
    display: inline-block !important;
    width: 40px;
    height: 31px;
    padding: 13px 0 0 0px;
    font-size: 18px;
    line-height: 1;
    background: #f5f3f1;
    background: -webkit-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
    background: -moz-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
    background: -ms-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
    background: -o-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
    background: linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;
    top: 0;
    color: black;
    text-align: center; }

/* line 13, ../sass/style.scss */
html, body {
  height: 100%;
  width: 100%;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  padding-bottom: 100px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .01rem;
  line-height: 1.5; }

/* line 26, ../sass/style.scss */
#pjax-container {
  position: absolute;
  width: 80%;
  height: auto;
  /* display: none; */
  left: 10%; }

/* line 34, ../sass/style.scss */
a:link, a:visited {
  color: inherit;
  text-decoration: none; }

/* line 39, ../sass/style.scss */
.underline {
  position: relative;
  display: inline-block; }
  /* line 43, ../sass/style.scss */
  .underline:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background-color: #5facff;
    bottom: 0;
    position: absolute; }

/* line 55, ../sass/style.scss */
.panel {
  min-width: 100%;
  min-height: 100%;
  display: block;
  position: relative;
  position: absolute;
  display: none;
  padding-bottom: 50%; }
  /* line 7, ../sass/mixins/_panels_responsive.scss */
  .panel .container {
    display: block;
    width: 1160px;
    height: auto;
    margin: 0 auto;
    padding: 0 20px; }
    @media (max-width: 1200px) {
      /* line 7, ../sass/mixins/_panels_responsive.scss */
      .panel .container {
        width: 964px;
        padding: 0 14px; } }
    @media (max-width: 992px) {
      /* line 7, ../sass/mixins/_panels_responsive.scss */
      .panel .container {
        width: 720px;
        padding: 0 10px; } }
    @media (max-width: 740px) {
      /* line 7, ../sass/mixins/_panels_responsive.scss */
      .panel .container {
        width: 464px;
        padding: 0 8px; } }
    @media (max-width: 480px) {
      /* line 7, ../sass/mixins/_panels_responsive.scss */
      .panel .container {
        width: 310px;
        padding: 0 5px; } }
  /* line 60, ../sass/style.scss */
  .panel .container {
    height: 100%;
    background-color: white;
    border-radius: 2px;
    border: 0 solid transparent; }
    /* line 66, ../sass/style.scss */
    .panel .container p {
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      margin: .5em 0; }
  /* line 75, ../sass/style.scss */
  .panel.animated {
    display: block; }

/* line 82, ../sass/style.scss */
#center {
  position: fixed;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%; }

/* line 1, ../sass/section/_alerts.scss */
.alert {
  position: fixed;
  bottom: -50px;
  padding-bottom: 50px;
  left: 50%;
  width: 50%;
  margin-left: -25%;
  color: #3b3d43;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 6px 6px 0 0;
  border: 4px solid #3b3d43;
  border-bottom: 0;
  z-index: 99999; }

/* line 1, ../sass/section/_home.scss */
#home {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0; }
  /* line 8, ../sass/section/_home.scss */
  #home .bio {
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 0;
    z-index: 99;
    background-color: #3b3d43;
    border-radius: 10px; }
    /* line 17, ../sass/section/_home.scss */
    #home .bio img {
      width: 250px;
      height: 250px;
      display: block;
      margin: 0 auto;
      border-radius: 50%; }
    /* line 25, ../sass/section/_home.scss */
    #home .bio p {
      font-size: 16px;
      color: #9d9ea1; }
    /* line 30, ../sass/section/_home.scss */
    #home .bio a.icon {
      font-size: 36px;
      margin-right: 13px; }
      /* line 34, ../sass/section/_home.scss */
      #home .bio a.icon.icon-facebook:hover {
        color: #3b5998; }
      /* line 38, ../sass/section/_home.scss */
      #home .bio a.icon.icon-twitter:hover {
        color: #55acee; }
      /* line 42, ../sass/section/_home.scss */
      #home .bio a.icon.icon-linkedin:hover {
        color: #0e76a8; }
  /* line 48, ../sass/section/_home.scss */
  #home .stripe-container {
    position: absolute;
    display: block;
    height: 0;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    margin-top: 0;
    width: 0;
    -moz-transform: perspective(0px) rotate(100deg);
    -ms-transform: perspective(0px) rotate(100deg);
    -webkit-transform: perspective(0px) rotate(100deg);
    transform: perspective(0px) rotate(100deg); }
    /* line 60, ../sass/section/_home.scss */
    #home .stripe-container .stripe {
      width: 3000px;
      height: 205px;
      display: block;
      position: absolute;
      left: -1500px;
      margin-top: -450px;
      overflow: hidden;
      z-index: 9;
      -moz-transform: perspective(0px) rotate(0deg);
      -ms-transform: perspective(0px) rotate(0deg);
      -webkit-transform: perspective(0px) rotate(0deg);
      transform: perspective(0px) rotate(0deg);
      -moz-transition: height 400ms ease 0ms;
      -o-transition: height 400ms ease 0ms;
      -webkit-transition: height 400ms ease;
      -webkit-transition-delay: 0ms;
      transition: height 400ms ease 0ms; }
      /* line 73, ../sass/section/_home.scss */
      #home .stripe-container .stripe.orange {
        background-color: #de5b1e;
        top: 0;
        z-index: 1; }
      /* line 79, ../sass/section/_home.scss */
      #home .stripe-container .stripe.yellow {
        background-color: #f0b747;
        top: 200px;
        z-index: 2; }
      /* line 85, ../sass/section/_home.scss */
      #home .stripe-container .stripe.green {
        background-color: #6aa427;
        top: 400px;
        z-index: 3; }
      /* line 91, ../sass/section/_home.scss */
      #home .stripe-container .stripe.blue {
        background-color: #9dd2b5;
        top: 600px;
        z-index: 4; }
      /* line 97, ../sass/section/_home.scss */
      #home .stripe-container .stripe span {
        position: absolute;
        left: 42.5%;
        top: 75px;
        font-size: 40px;
        font-weight: 100;
        color: white;
        -moz-transform: perspective(0px) rotate(-100deg);
        -ms-transform: perspective(0px) rotate(-100deg);
        -webkit-transform: perspective(0px) rotate(-100deg);
        transform: perspective(0px) rotate(-100deg);
        -moz-transition: font-size 50ms ease-in-out 0ms, text-shadow 150ms ease 0ms;
        -o-transition: font-size 50ms ease-in-out 0ms, text-shadow 150ms ease 0ms;
        -webkit-transition: font-size 50ms ease-in-out, text-shadow 150ms ease;
        -webkit-transition-delay: 0ms, 0ms;
        transition: font-size 50ms ease-in-out 0ms, text-shadow 150ms ease 0ms; }
      /* line 109, ../sass/section/_home.scss */
      #home .stripe-container .stripe.kick span {
        font-size: 46px; }
      /* line 115, ../sass/section/_home.scss */
      #home .stripe-container .stripe.snare span {
        font-size: 36px; }
      /* line 120, ../sass/section/_home.scss */
      #home .stripe-container .stripe:hover {
        height: 205px; }
        /* line 122, ../sass/section/_home.scss */
        #home .stripe-container .stripe:hover.orange {
          top: -5px; }
        /* line 125, ../sass/section/_home.scss */
        #home .stripe-container .stripe:hover.yellow {
          top: 195px; }
        /* line 128, ../sass/section/_home.scss */
        #home .stripe-container .stripe:hover.green {
          top: 395px; }
        /* line 131, ../sass/section/_home.scss */
        #home .stripe-container .stripe:hover.blue {
          top: 595px; }
        /* line 134, ../sass/section/_home.scss */
        #home .stripe-container .stripe:hover span {
          color: white;
          top: 100px;
          font-size: 26px;
          font-weight: 500;
          text-shadow: 100px 20px rgba(0, 0, 0, 0.25), -50px 150px rgba(0, 0, 0, 0.35), 100px -50px rgba(0, 0, 0, 0.1), -100px 200px rgba(0, 0, 0, 0.2), -150px 75px rgba(0, 0, 0, 0.45), 75px 50px rgba(0, 0, 0, 0.5); }
  /* line 151, ../sass/section/_home.scss */
  #home.spread {
    width: 135%;
    height: 135%;
    left: -17.5%;
    top: -17.5%; }
    /* line 157, ../sass/section/_home.scss */
    #home.spread .bio {
      display: none; }
    /* line 161, ../sass/section/_home.scss */
    #home.spread .stripe-container {
      -moz-transform: perspective(1px) rotate(0deg);
      -ms-transform: perspective(1px) rotate(0deg);
      -webkit-transform: perspective(1px) rotate(0deg);
      transform: perspective(1px) rotate(0deg);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
      /* line 167, ../sass/section/_home.scss */
      #home.spread .stripe-container .stripe {
        width: 1500px;
        height: 200px;
        margin: 0; }
        /* line 173, ../sass/section/_home.scss */
        #home.spread .stripe-container .stripe.orange {
          top: 0;
          bottom: auto;
          left: -700px;
          right: auto;
          -moz-transform: perspective(1px) rotate(-45deg);
          -ms-transform: perspective(1px) rotate(-45deg);
          -webkit-transform: perspective(1px) rotate(-45deg);
          transform: perspective(1px) rotate(-45deg); }
          /* line 179, ../sass/section/_home.scss */
          #home.spread .stripe-container .stripe.orange span {
            top: 75px;
            left: 50%;
            -moz-transform: perspective(1px) rotate(45deg);
            -ms-transform: perspective(1px) rotate(45deg);
            -webkit-transform: perspective(1px) rotate(45deg);
            transform: perspective(1px) rotate(45deg); }
        /* line 186, ../sass/section/_home.scss */
        #home.spread .stripe-container .stripe.yellow {
          top: 0px;
          bottom: auto;
          left: auto;
          right: -700px;
          -moz-transform: perspective(1px) rotate(45deg);
          -ms-transform: perspective(1px) rotate(45deg);
          -webkit-transform: perspective(1px) rotate(45deg);
          transform: perspective(1px) rotate(45deg); }
          /* line 192, ../sass/section/_home.scss */
          #home.spread .stripe-container .stripe.yellow span {
            top: 65px;
            left: 40%;
            -moz-transform: perspective(1px) rotate(-45deg);
            -ms-transform: perspective(1px) rotate(-45deg);
            -webkit-transform: perspective(1px) rotate(-45deg);
            transform: perspective(1px) rotate(-45deg); }
        /* line 199, ../sass/section/_home.scss */
        #home.spread .stripe-container .stripe.green {
          top: auto;
          bottom: 0;
          left: -700px;
          right: auto;
          -moz-transform: perspective(1px) rotate(45deg);
          -ms-transform: perspective(1px) rotate(45deg);
          -webkit-transform: perspective(1px) rotate(45deg);
          transform: perspective(1px) rotate(45deg); }
          /* line 205, ../sass/section/_home.scss */
          #home.spread .stripe-container .stripe.green span {
            top: 75px;
            left: 50%;
            -moz-transform: perspective(1px) rotate(-45deg);
            -ms-transform: perspective(1px) rotate(-45deg);
            -webkit-transform: perspective(1px) rotate(-45deg);
            transform: perspective(1px) rotate(-45deg); }
        /* line 212, ../sass/section/_home.scss */
        #home.spread .stripe-container .stripe.blue {
          top: auto;
          bottom: 0;
          left: auto;
          right: -700px;
          -moz-transform: perspective(1px) rotate(-45deg);
          -ms-transform: perspective(1px) rotate(-45deg);
          -webkit-transform: perspective(1px) rotate(-45deg);
          transform: perspective(1px) rotate(-45deg); }
          /* line 218, ../sass/section/_home.scss */
          #home.spread .stripe-container .stripe.blue span {
            top: 75px;
            left: 40%;
            -moz-transform: perspective(1px) rotate(45deg);
            -ms-transform: perspective(1px) rotate(45deg);
            -webkit-transform: perspective(1px) rotate(45deg);
            transform: perspective(1px) rotate(45deg); }

/* line 2, ../sass/section/_portfolio.scss */
#portfolio .container {
  border: 5px solid white; }
  /* line 5, ../sass/section/_portfolio.scss */
  #portfolio .container h1 {
    margin: 0.333333em 0; }
  /* line 9, ../sass/section/_portfolio.scss */
  #portfolio .container .item {
    position: relative;
    width: 50%;
    height: auto; }
    /* line 14, ../sass/section/_portfolio.scss */
    #portfolio .container .item .bg {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      height: auto;
      opacity: .75;
      -webkit-filter: blur(3px); }
    /* line 24, ../sass/section/_portfolio.scss */
    #portfolio .container .item .icon {
      position: absolute;
      width: 75px;
      margin: 0;
      margin-top: -50px;
      padding: 0;
      height: auto;
      z-index: 2;
      top: 50%;
      left: 50px;
      border: 3px solid rgba(255, 255, 255, 0.5);
      border-radius: 3px; }
    /* line 38, ../sass/section/_portfolio.scss */
    #portfolio .container .item h2 {
      position: absolute;
      bottom: 10px;
      left: 10px;
      padding: 0;
      margin: 0;
      text-shadow: 0px 0px 30px white; }
/* line 50, ../sass/section/_portfolio.scss */
#portfolio.kick .container {
  border-color: #f0b747; }
/* line 56, ../sass/section/_portfolio.scss */
#portfolio.snare .container {
  -moz-box-shadow: 0px 0px 0px 5px #f0b747;
  -webkit-box-shadow: 0px 0px 0px 5px #f0b747;
  box-shadow: 0px 0px 0px 5px #f0b747; }

/* line 2, ../sass/section/_ideas.scss */
#ideas .container {
  border: 5px solid white; }
  /* line 4, ../sass/section/_ideas.scss */
  #ideas .container h1 {
    margin: 0; }
/* line 10, ../sass/section/_ideas.scss */
#ideas.kick .container {
  border-color: #6aa427; }
/* line 16, ../sass/section/_ideas.scss */
#ideas.snare .container {
  -moz-box-shadow: 0px 0px 0px 5px #6aa427;
  -webkit-box-shadow: 0px 0px 0px 5px #6aa427;
  box-shadow: 0px 0px 0px 5px #6aa427; }

/* line 2, ../sass/section/_inspirations.scss */
#inspirations .container {
  border: 5px solid white;
  margin-bottom: 30px;
  position: relative; }
  /* line 7, ../sass/section/_inspirations.scss */
  #inspirations .container pre, #inspirations .container code {
    word-wrap: break-word; }
  /* line 11, ../sass/section/_inspirations.scss */
  #inspirations .container h1 {
    margin: 0; }
  /* line 15, ../sass/section/_inspirations.scss */
  #inspirations .container h6 {
    position: absolute;
    right: 0;
    bottom: -80px; }
/* line 23, ../sass/section/_inspirations.scss */
#inspirations.kick .container {
  border-color: #9dd2b5; }
/* line 29, ../sass/section/_inspirations.scss */
#inspirations.snare .container {
  -moz-box-shadow: 0px 0px 0px 5px #9dd2b5;
  -webkit-box-shadow: 0px 0px 0px 5px #9dd2b5;
  box-shadow: 0px 0px 0px 5px #9dd2b5; }

/* line 2, ../sass/section/_resume.scss */
#resume .container {
  border: 5px solid white; }
  /* line 4, ../sass/section/_resume.scss */
  #resume .container h1 {
    margin: 0; }
/* line 10, ../sass/section/_resume.scss */
#resume.kick .container {
  border-color: #de5b1e; }
/* line 16, ../sass/section/_resume.scss */
#resume.snare .container {
  -moz-box-shadow: 0px 0px 0px 5px #de5b1e;
  -webkit-box-shadow: 0px 0px 0px 5px #de5b1e;
  box-shadow: 0px 0px 0px 5px #de5b1e; }

/* line 1, ../sass/section/_debug.scss */
#debug {
  position: fixed;
  width: 400px;
  font-size: 12px;
  color: black;
  padding: 10px;
  background-color: white;
  margin: 5px;
  z-index: 99999;
  display: none; }
