/*------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------*/
/* line 1, ../sass/mixins/_responsive_helpers.scss */
.show-xs {
  display: none; }

/* line 2, ../sass/mixins/_responsive_helpers.scss */
.show-sm {
  display: none; }

/* line 3, ../sass/mixins/_responsive_helpers.scss */
.show-md {
  display: none; }

/* line 4, ../sass/mixins/_responsive_helpers.scss */
.show-lg {
  display: block; }

/* line 6, ../sass/mixins/_responsive_helpers.scss */
.hide-xs {
  display: block; }

/* line 7, ../sass/mixins/_responsive_helpers.scss */
.hide-sm {
  display: block; }

/* line 8, ../sass/mixins/_responsive_helpers.scss */
.hide-md {
  display: block; }

/* line 9, ../sass/mixins/_responsive_helpers.scss */
.hide-lg {
  display: none; }

@media (max-width: 1200px) {
  /* line 13, ../sass/mixins/_responsive_helpers.scss */
  .show-xs {
    display: none; }

  /* line 14, ../sass/mixins/_responsive_helpers.scss */
  .show-sm {
    display: none; }

  /* line 15, ../sass/mixins/_responsive_helpers.scss */
  .show-md {
    display: none; }

  /* line 16, ../sass/mixins/_responsive_helpers.scss */
  .show-lg {
    display: block; }

  /* line 18, ../sass/mixins/_responsive_helpers.scss */
  .hide-xs {
    display: block; }

  /* line 19, ../sass/mixins/_responsive_helpers.scss */
  .hide-sm {
    display: block; }

  /* line 20, ../sass/mixins/_responsive_helpers.scss */
  .hide-md {
    display: block; }

  /* line 21, ../sass/mixins/_responsive_helpers.scss */
  .hide-lg {
    display: none; } }
@media (max-width: 992px) {
  /* line 25, ../sass/mixins/_responsive_helpers.scss */
  .show-xs {
    display: none; }

  /* line 26, ../sass/mixins/_responsive_helpers.scss */
  .show-sm {
    display: none; }

  /* line 27, ../sass/mixins/_responsive_helpers.scss */
  .show-md {
    display: block; }

  /* line 28, ../sass/mixins/_responsive_helpers.scss */
  .show-lg {
    display: block; }

  /* line 30, ../sass/mixins/_responsive_helpers.scss */
  .hide-xs {
    display: block; }

  /* line 31, ../sass/mixins/_responsive_helpers.scss */
  .hide-sm {
    display: block; }

  /* line 32, ../sass/mixins/_responsive_helpers.scss */
  .hide-md {
    display: none; }

  /* line 33, ../sass/mixins/_responsive_helpers.scss */
  .hide-lg {
    display: none; } }
@media (max-width: 740px) {
  /* line 37, ../sass/mixins/_responsive_helpers.scss */
  .show-xs {
    display: none; }

  /* line 38, ../sass/mixins/_responsive_helpers.scss */
  .show-sm {
    display: block; }

  /* line 39, ../sass/mixins/_responsive_helpers.scss */
  .show-md {
    display: block; }

  /* line 40, ../sass/mixins/_responsive_helpers.scss */
  .show-lg {
    display: block; }

  /* line 42, ../sass/mixins/_responsive_helpers.scss */
  .hide-xs {
    display: block; }

  /* line 43, ../sass/mixins/_responsive_helpers.scss */
  .hide-sm {
    display: none; }

  /* line 44, ../sass/mixins/_responsive_helpers.scss */
  .hide-md {
    display: none; }

  /* line 45, ../sass/mixins/_responsive_helpers.scss */
  .hide-lg {
    display: none; } }
@media (max-width: 480px) {
  /* line 49, ../sass/mixins/_responsive_helpers.scss */
  .show-xs {
    display: block; }

  /* line 50, ../sass/mixins/_responsive_helpers.scss */
  .show-sm {
    display: block; }

  /* line 51, ../sass/mixins/_responsive_helpers.scss */
  .show-md {
    display: block; }

  /* line 52, ../sass/mixins/_responsive_helpers.scss */
  .show-lg {
    display: block; }

  /* line 54, ../sass/mixins/_responsive_helpers.scss */
  .hide-xs {
    display: none; }

  /* line 55, ../sass/mixins/_responsive_helpers.scss */
  .hide-sm {
    display: none; }

  /* line 56, ../sass/mixins/_responsive_helpers.scss */
  .hide-md {
    display: none; }

  /* line 57, ../sass/mixins/_responsive_helpers.scss */
  .hide-lg {
    display: none; } }
/* line 14, ../sass/mixins/_mtk_brand.scss */
::selection {
  background: #dfdfdf;
  color: black;
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

/* line 22, ../sass/mixins/_mtk_brand.scss */
::-moz-selection {
  background: #dfdfdf;
  color: black;
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

/* line 31, ../sass/mixins/_mtk_brand.scss */
body {
  font-size: 24px;
  margin: 0;
  background: #3b3d43; }

/* line 37, ../sass/mixins/_mtk_brand.scss */
html, body {
  height: 100%;
  width: 100%; }

/* line 72, ../sass/mixins/_mtk_brand.scss */
.pull-left {
  float: left; }

/* line 73, ../sass/mixins/_mtk_brand.scss */
.pull-right {
  float: right; }

/* line 74, ../sass/mixins/_mtk_brand.scss */
.clearfix {
  clear: both; }

/* line 75, ../sass/mixins/_mtk_brand.scss */
.group:before,
.group:after {
  content: "";
  display: table; }

/* line 77, ../sass/mixins/_mtk_brand.scss */
.group:after {
  clear: both; }

/* line 78, ../sass/mixins/_mtk_brand.scss */
.group {
  zoom: 1; }

/* line 11, ../sass/style.scss */
html, body {
  height: 100%;
  width: 100%; }

/* line 16, ../sass/style.scss */
.panel {
  min-width: 100%;
  min-height: 100%;
  display: block;
  position: relative;
  position: absolute;
  display: none; }
  /* line 7, ../sass/mixins/_panels_responsive.scss */
  .panel .container {
    display: block;
    width: 1160px;
    height: auto;
    margin: 0 auto;
    padding: 0 20px; }
    @media (max-width: 1200px) {
      /* line 7, ../sass/mixins/_panels_responsive.scss */
      .panel .container {
        width: 964px;
        padding: 0 14px; } }
    @media (max-width: 992px) {
      /* line 7, ../sass/mixins/_panels_responsive.scss */
      .panel .container {
        width: 720px;
        padding: 0 10px; } }
    @media (max-width: 740px) {
      /* line 7, ../sass/mixins/_panels_responsive.scss */
      .panel .container {
        width: 464px;
        padding: 0 8px; } }
    @media (max-width: 480px) {
      /* line 7, ../sass/mixins/_panels_responsive.scss */
      .panel .container {
        width: 310px;
        padding: 0 5px; } }
  /* line 20, ../sass/style.scss */
  .panel .container {
    height: 100%;
    background-color: white;
    border-radius: 2px;
    border: 0 solid transparent;
    border-left: 10px solid #6aa427; }
  /* line 28, ../sass/style.scss */
  .panel.animated {
    display: block; }

/* line 1, ../sass/section/_home.scss */
#home {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 9; }
  /* line 9, ../sass/section/_home.scss */
  #home .stripe-container {
    position: fixed;
    display: block;
    height: 0;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    margin-top: 0;
    width: 0;
    z-index: 0;
    -moz-transform: perspective(1px) rotate(100deg);
    -ms-transform: perspective(1px) rotate(100deg);
    -webkit-transform: perspective(1px) rotate(100deg);
    transform: perspective(1px) rotate(100deg); }
    /* line 22, ../sass/section/_home.scss */
    #home .stripe-container .stripe {
      width: 3000px;
      height: 205px;
      display: block;
      position: absolute;
      left: -1500px;
      margin-top: -450px;
      overflow: hidden;
      -moz-transition: height 400ms ease 0ms;
      -o-transition: height 400ms ease 0ms;
      -webkit-transition: height 400ms ease;
      -webkit-transition-delay: 0ms;
      transition: height 400ms ease 0ms; }
      /* line 33, ../sass/section/_home.scss */
      #home .stripe-container .stripe.orange {
        background-color: #de5b1e;
        top: 0;
        z-index: 1; }
      /* line 39, ../sass/section/_home.scss */
      #home .stripe-container .stripe.yellow {
        background-color: #f0b747;
        top: 200px;
        z-index: 2; }
      /* line 45, ../sass/section/_home.scss */
      #home .stripe-container .stripe.green {
        background-color: #6aa427;
        top: 400px;
        z-index: 3; }
      /* line 51, ../sass/section/_home.scss */
      #home .stripe-container .stripe.blue {
        background-color: #9dd2b5;
        top: 600px;
        z-index: 4; }
      /* line 57, ../sass/section/_home.scss */
      #home .stripe-container .stripe span {
        position: absolute;
        left: 40%;
        top: 60px;
        font-size: 50px;
        font-weight: 100;
        color: white;
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -moz-transform: perspective(100px) rotate(-100deg);
        -ms-transform: perspective(100px) rotate(-100deg);
        -webkit-transform: perspective(100px) rotate(-100deg);
        transform: perspective(100px) rotate(-100deg);
        -moz-transition: font-size 50ms ease-in-out 0ms, text-shadow 150ms ease 0ms;
        -o-transition: font-size 50ms ease-in-out 0ms, text-shadow 150ms ease 0ms;
        -webkit-transition: font-size 50ms ease-in-out, text-shadow 150ms ease;
        -webkit-transition-delay: 0ms, 0ms;
        transition: font-size 50ms ease-in-out 0ms, text-shadow 150ms ease 0ms; }
      /* line 70, ../sass/section/_home.scss */
      #home .stripe-container .stripe.kick span {
        font-size: 55px; }
      /* line 76, ../sass/section/_home.scss */
      #home .stripe-container .stripe.snare span {
        font-size: 45px; }
      /* line 81, ../sass/section/_home.scss */
      #home .stripe-container .stripe:hover {
        height: 205px; }
        /* line 83, ../sass/section/_home.scss */
        #home .stripe-container .stripe:hover.orange {
          top: -5px; }
        /* line 86, ../sass/section/_home.scss */
        #home .stripe-container .stripe:hover.yellow {
          top: 195px; }
        /* line 89, ../sass/section/_home.scss */
        #home .stripe-container .stripe:hover.green {
          top: 395px; }
        /* line 92, ../sass/section/_home.scss */
        #home .stripe-container .stripe:hover.blue {
          top: 595px; }
        /* line 95, ../sass/section/_home.scss */
        #home .stripe-container .stripe:hover span {
          color: white;
          top: 100px;
          font-size: 26px;
          font-weight: 500;
          text-shadow: 100px 20px rgba(0, 0, 0, 0.25), -50px 150px rgba(0, 0, 0, 0.35), 100px -50px rgba(0, 0, 0, 0.1), -100px 200px rgba(0, 0, 0, 0.2), -150px 75px rgba(0, 0, 0, 0.45), 75px 50px rgba(0, 0, 0, 0.5); }
  /* line 113, ../sass/section/_home.scss */
  #home.spread .stripe-container {
    -moz-transform: perspective(0px) rotate(0deg);
    -ms-transform: perspective(0px) rotate(0deg);
    -webkit-transform: perspective(0px) rotate(0deg);
    transform: perspective(0px) rotate(0deg);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
    /* line 119, ../sass/section/_home.scss */
    #home.spread .stripe-container .stripe {
      width: 800px;
      height: 200px;
      margin: 0; }
      /* line 125, ../sass/section/_home.scss */
      #home.spread .stripe-container .stripe.orange {
        top: 0;
        bottom: auto;
        left: -250px;
        right: auto;
        -moz-transform: perspective(0px) rotate(-45deg);
        -ms-transform: perspective(0px) rotate(-45deg);
        -webkit-transform: perspective(0px) rotate(-45deg);
        transform: perspective(0px) rotate(-45deg); }
        /* line 131, ../sass/section/_home.scss */
        #home.spread .stripe-container .stripe.orange span {
          top: 50px;
          -moz-transform: perspective(0px) rotate(45deg);
          -ms-transform: perspective(0px) rotate(45deg);
          -webkit-transform: perspective(0px) rotate(45deg);
          transform: perspective(0px) rotate(45deg); }
      /* line 137, ../sass/section/_home.scss */
      #home.spread .stripe-container .stripe.yellow {
        top: 0px;
        bottom: auto;
        left: auto;
        right: -250px;
        -moz-transform: perspective(0px) rotate(45deg);
        -ms-transform: perspective(0px) rotate(45deg);
        -webkit-transform: perspective(0px) rotate(45deg);
        transform: perspective(0px) rotate(45deg); }
        /* line 143, ../sass/section/_home.scss */
        #home.spread .stripe-container .stripe.yellow span {
          top: 50px;
          -moz-transform: perspective(0px) rotate(-45deg);
          -ms-transform: perspective(0px) rotate(-45deg);
          -webkit-transform: perspective(0px) rotate(-45deg);
          transform: perspective(0px) rotate(-45deg); }
      /* line 149, ../sass/section/_home.scss */
      #home.spread .stripe-container .stripe.green {
        top: auto;
        bottom: 0;
        left: -250px;
        right: auto;
        -moz-transform: perspective(0px) rotate(45deg);
        -ms-transform: perspective(0px) rotate(45deg);
        -webkit-transform: perspective(0px) rotate(45deg);
        transform: perspective(0px) rotate(45deg); }
        /* line 155, ../sass/section/_home.scss */
        #home.spread .stripe-container .stripe.green span {
          top: 50px;
          -moz-transform: perspective(0px) rotate(-45deg);
          -ms-transform: perspective(0px) rotate(-45deg);
          -webkit-transform: perspective(0px) rotate(-45deg);
          transform: perspective(0px) rotate(-45deg); }
      /* line 161, ../sass/section/_home.scss */
      #home.spread .stripe-container .stripe.blue {
        top: auto;
        bottom: 0;
        left: auto;
        right: -250px;
        -moz-transform: perspective(0px) rotate(-45deg);
        -ms-transform: perspective(0px) rotate(-45deg);
        -webkit-transform: perspective(0px) rotate(-45deg);
        transform: perspective(0px) rotate(-45deg); }
        /* line 167, ../sass/section/_home.scss */
        #home.spread .stripe-container .stripe.blue span {
          top: 50px;
          -moz-transform: perspective(0px) rotate(45deg);
          -ms-transform: perspective(0px) rotate(45deg);
          -webkit-transform: perspective(0px) rotate(45deg);
          transform: perspective(0px) rotate(45deg); }
