@import "compass/css3/transform";
@import "compass/css3/transition";

// mixins
@import "mixins/_panels";
@import "mixins/_responsive";
@import "mixins/_panels_responsive";
@import "mixins/_responsive_helpers";
@import "mixins/_mtk_brand";

html, body {
	height: 100%;
	width: 100%;
	font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.panel {
	@include panel(1200px, 20px);
	position: absolute;
	display: none;
	.container {
		height: 100%;
		background-color: white;
		border-radius: 2px;
		border: 0 solid transparent;
		border-left: 10px solid $green;
	}

	&.animated {
		display: block;
	}
}

// pages

#center {
	position: fixed;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
}

@import "section/_home";
// @import "section/_nav";
// @import "section/_mantle";
// @import "legacy.scss";
@import "section/_debug";
