@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

// mixins
@import "mixins/_panels";
@import "mixins/_responsive";
@import "mixins/_panels_responsive";
@import "mixins/_responsive_helpers";
@import "mixins/_mtk_brand";
@import "mixins/_keycap";

html, body {
	height: 100%;
	width: 100%;
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	padding-bottom: 100px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: .01rem;
	line-height: 1.5;
}

#pjax-container {
	position: absolute;
	width: 80%;
	height: auto;
	/* display: none; */
	left: 10%;
}

a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

.underline {
	position: relative;
	display: inline-block;

	&:before {
		content: "";
		display: inline-block;
		width: 100%;
		height: 3px;
		border-radius: 1px;
		background-color: $cta;
		bottom: 0;
		position: absolute;
	}
}

.panel {
	@include panel(1200px, 20px);
	position: absolute;
	display: none;
	padding-bottom: 50%;
	.container {
		height: 100%;
		background-color: white;
		border-radius: 2px;
		border: 0 solid transparent;

		p {
			font-weight: 400;
			font-style: normal;
			font-size: 22px;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
			margin: .5em 0;
		}
	}

	&.animated {
		display: block;
	}
}

// pages

#center {
	position: fixed;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
}

@import "section/_alerts";
@import "section/_home";
@import "section/_portfolio";
@import "section/_ideas";
@import "section/_inspirations";
@import "section/_resume";
// @import "section/_nav";
// @import "section/_mantle";
// @import "legacy.scss";
@import "section/_debug";
