ul.breadcrumbs {
	@include unstyled();
	@include inline();
	height: 70px;
	border-bottom: 1px solid #d1d3d4;
	padding-left: 50px;

	li {
		line-height: 70px;
		color: $body;
		text-transform: uppercase;
		font-size: 1.6rem;

		a {
			color: currentColor;
		}

		&.separator {
			font-size: 1px;
			color: transparent;

			&::after {
				content: '>';
				display: inline-block;
				color: $cta-active;
				font-size: 12px;
				font-weight: bold;
			}
		}
	}

	& > li:last-of-type {
		padding-right: 5px;
		padding-left: 5px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@include max-width(1000px) {
		padding: 0;
	}

	@include max-width(md) {
		margin-bottom: 15px;
	}

	@include max-width(sm) {
		margin-bottom: 30px;
	}

	@include max-width(500px) {
		margin-bottom: 10px;
	}

	@include max-width(xs) {
		height: auto;
		margin-bottom: 25px;
		padding-top: 10px;
		padding-bottom: 15px;

		li {
			height: auto;
			line-height: 2.4;
			padding: 0;

			&:last-of-type {
				padding: 0;
			}

			&.separator {
				padding: 5px;
			}
		}
	}
}
