/*	-------------------------------------
	:: Subnav
	---------------------------------- */
	#subnav {
		padding: 36px 0;
		background: rgba(255, 255, 255, .9);
		position: relative;
		z-index: 4;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.125);
		transition: all 0.25s $cubic-bezier;

		ul {
			@include unstyled();
			@include inline();
			max-width: 1225px;
			justify-content: space-between;
			margin: 0 auto;


			a {
				font-family: $proxima;
				text-transform: uppercase;
				color: $body;
				font-size: 1.3rem;
				font-weight: bold;
				padding: 0 16px;

				&:hover,
				&:focus {
					color: $gray;
					opacity: 1;
				}
			}
		}
	}
