/*	-------------------------------------
	:: Base / General Styling
	---------------------------------- */

	html {
		font: normal 400 62.5%/1.4 $body_font;
		color: $body;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		line-height: 1.4;
		margin: 0;
		padding: 0;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		min-width: 320px;
		-webkit-touch-callout: none;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		overflow-x: hidden;
		background-color: $body;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		transition: background-color 1s $ease 0;

		//@include outline();
	}

	#wp-admin-bar-ultimo-wp { display: none; }

	#main { overflow: hidden; }

	body {
		font-family: $body-font;
		margin: 0;
		padding: 0;
		height: auto;
		overflow: hidden;
	}

	*, *::before, *::after {
		box-sizing: inherit;
	}


	::-moz-selection, *::-moz-selection {
		background: $cta;
		color: white;
	}

	#wpadminbar {
		@include max-width(782px) {
			display: none;
		}
	}

	::-moz-selection, *::-moz-selection { background: $red; }
	::selection, *::selection { background: $red; }
