/*	-------------------------------------
	:: Mixins
	---------------------------------- */
	@mixin unstyled() {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	@mixin inline() {
		&  > li {
			display: inline-block;
			padding-right: 5px;
			padding-left: 5px;

			&:first-of-type { padding-left: 0; }
			&:last-of-type  { padding-right: 0; }
		}
	}

	@mixin outline() {
		&, * {
			outline: 1px solid black;
		}
	}

	@mixin momentum_scrolling() {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

/*	-------------------------------------
	:: Mobile First Mixin
	---------------------------------- */
	@mixin min-width($media) {
		@media (min-width: $media) {
			@content;
		}
	}


/*	-------------------------------------
	:: Desktop First Mixin
	---------------------------------- */
	@mixin max-width($media) {
		@media (max-width: ($media - 1px)) {
			@content;
		}
	}


/*	-------------------------------------
	:: Firefox mixin
	---------------------------------- */
	@mixin firefox() {
		@-moz-document url-prefix() {
			@content;
		}
	}


/*	-------------------------------------
	:: Safari mixin
	---------------------------------- */
	@mixin safari() {
		@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
			@content;
		}
	}

/*	-------------------------------------
	:: Retina mixin
	---------------------------------- */
	@mixin retina() {
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			@content;
		}
	}

/*	-------------------------------------
	:: Font Sizing
	---------------------------------- */
	// Font Size Reset to 10px Base
	@mixin font-size($sizeValue: 1.6) {
		font-size: ($sizeValue * 10) + px;
		font-size: $sizeValue + rem;
	}

	// Strip Values
	@function strip-unit($num) {
		@return $num / ($num * 0 + 1);
	}


/*	-------------------------------------
	:: Smart Underlining
	---------------------------------- */
	@mixin add_smart_underline() {
		position: relative;
		text-shadow: 0.065em 0.065em 0px white, 0.065em -0.065em 0px white, -0.065em -0.065em 0px white, -0.065em 0.065em 0px white;

		&:after {
			content: attr(data-copy);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			opacity: 0;
			transition: none;
			text-decoration: underline;
			text-decoration-skip: ink;
		}

		span {
			z-index: -1;
		}
	}

	@mixin add_alt_smart_underline() {
		text-shadow: 1px 1px 1px $red,
					 1px -1px 1px $red,
					 -1px -1px 1px $red,
					 -1px 1px 1px $red;
		background-image: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor);
		background-size: .05em 1px, .05em 1px, 1px 1px;
		background-repeat: no-repeat, no-repeat, repeat-x;
		background-position: 0% 95%, 100% 95%, 0% 95%;

		&:after {
			display: none;
		}
	}

	@mixin remove_smart_underline() {
		background: none;
		text-shadow: none;

		* {
			background: none;
			text-shadow: none;
		}
	}
