/*	-------------------------------------
	:: General Sizes
	---------------------------------- */
	$max-width: 1100px;
	$nav-mobile-height: 7.0rem;
	$nav-tablet-height: 12.0rem;
	$nav-desktop-height: 18.0rem;


/*	-------------------------------------
	:: Brand Colors
	---------------------------------- */


	$red: #911d1d;
	$yellow: #FDE5A5;
	$white_balanced: #e6e6e6;

	// Default Colors
	$gray: mix($white_balanced, $red, 60%);
	$gray-light: $white_balanced;
	$gray-mid: #cecece;



	// Generic
	$body: #911d1d;
	$body-light: #f0efed;
	$cta: $gray;
	$cta-active: $gray-light;


	// This site's colors
	$black: $gray-light;


/*	-------------------------------------
	:: Client Fonts
	---------------------------------- */
	// Example:
	// $custom-font: 'Custom Font Name', sans-serif;

	$neuehanskendrick: "Neue Hans Kendrick", sans-serif;
	$hankensans: "Hanken Sans", sans-serif;

	// Replace the 'inherit' value with the proper font variables from directly above
	$body-font: $hankensans;
	$heading-font: $neuehanskendrick;
	$button-font: $hankensans;
	$nav-font: $hankensans;


/*	-------------------------------------
	:: Client Global Easing (Animation)
	---------------------------------- */
	$ease: cubic-bezier(.15,.5,.5,.95);


/*	-------------------------------------
	:: Third Party Brand Colors
	---------------------------------- */
	// Twitter
	$twitter: #55acee;
	$twitter-active: #41b7d8;

	// Facebook
	$facebook: #3b5997;
	$facebook_active:#263960;

	// Google
	$google: #d64937;
	$google_active: #a02f21;

	// LinkedIn
	$linkedin: #0073b2;
	$linkedin_active: #004265;

	// Pinterest
	$pinterest: #cb2027;
	$pinterest_active: #89161a;

	// GitHub
	$github: #3a3838;
	$github_active: #131212;

	// SoundCloud
	$soundcloud: #f80;
	$soundcloud_active: #f30;

	// Instagram
	$instagram: #3f729b;
	$instagram_active: darken($instagram, 10%);

	// Dribbble
	$dribbble: #ea4c89;
	$dribbble_active: darken($dribbble, 10%);

	// Flickr
	$flickr: #ff0084;
	$flickr_secondary: #0063dc;
	$flickr_active: darken($flickr, 10%);
	$flickr_secondary-active: darken($flickr_secondary, 10%);

	// Behance
	$behance: #3a3838;
	$behance_active: #131212;

	// DeviantArt
	$deviantart: #4e6252;
	$deviantart_active: darken($deviantart, 10%);

	// Wordpress
	$wordpress: #21759b;
	$wordpress_active: darken($wordpress, 10%);

	// Youtube
	$youtube: #e52d27;
	$youtube_active: #b31217;

	// Vine
	$vine: #00b488;
	$vine_active: darken($vine, 10%);

	// Vimeo
	$vimeo: #1ab7ea;
	$vimeo_active: darken($vimeo, 10%);
