/*	-------------------------------------
	:: Buttons
	---------------------------------- */
	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		font: normal 700 1.3rem / 1.4 $button-font;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
		background-color: transparent;
		border: 0;
		cursor: pointer;
		transition: all 0.2s $cubic-bezier 0s;
		color: $cta;
		display: inline-flex;
		margin: 0;
		padding: 0.875em 1.428571429em;
		letter-spacing: 0.2em;

		&::after {
			content: '';
			width: 80%;
			left: 50%;
			height: 1px;
			bottom: 0;
			transform: translatex(-50%);
			transition: width 0.2s $cubic-bezier 0.4s,
									background 0.2s $cubic-bezier 0s;
			display: block;
			position: absolute;
			background: $cta;
		}

		&:hover {
			opacity: 1;
			outline: 0;
			color: $body-dark !important;
			text-decoration: none;
			transition: color 0.2s $cubic-bezier 0s;
		}

		&:focus {
			background: #232F39;
			color: white !important;
			transition: all 0.2s $cubic-bezier;

			&::after {
				opacity: 0;
			}
		}

		&.active {
			color: #000 !important;
			border-color: #000;

			&:hover,
			&:focus {
				background: transparent;
			}
		}

		// Old button container didn't work correctly
		.button-container & {
			margin-bottom: 10px;
		}

	}
