/*	-------------------------------------
	:: Loader Bar
	---------------------------------- */
	#loader-bar {
		background: $cta;
		position: fixed;
		top: 0;
		height: 2px;
		left: 0;
		width: 0vw;
		z-index: 20;
		transition: all 0.25s $cubic-bezier 0ms;
	}

	#loader-bar dd,
	#loader-bar dt {
		box-shadow: $cta 1px 0 6px 1px;
		position: absolute;
		right: 0;
		width: 5vw;
		transition: all 0.25s $cubic-bezier 0ms;
	}
