
section {
	padding: 6rem 0;

	@include max-width(950px) {
		padding: 5vw 0;
	}
}

.hero {
	background: #213D4B 50% 25% / cover no-repeat;
	overflow: hidden;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgb(33, 61, 75);
		z-index: 0;
		opacity: 0.5;
		mix-blend-mode: multiply;
	}

	.container {
		position: relative;
		z-index: 1;
	}

	.container .column {
		margin: 10rem auto 2.5vw auto;

		@include min-width(600px) {
			margin: 15vw auto 2.5vw auto;
		}

		@include min-width(1000px) {
			margin: 15rem auto 3rem auto;
		}

		h1 {
			@include max-width(950px) {
				font-size: 16vw;
				margin-bottom: 0.1em;
			}
		}
	}
}

.uppercase {
	text-transform: uppercase;
}

.column.has-sizer {
	background: 50% 50% / cover no-repeat;
	position: relative;
	display: block;

	@include light_gradient();

	.content {
		position: absolute;
		width: 90%;
		height: auto;
		top: 50%;
		left: 5%;
		transform: translateY(-50%);
		z-index: 1;
	}

	.sizer {
		width: 100%;
		height: auto;
	}
}

body.winners-2015 {
	a {
		color: $primary-2015;
	}
}

body.winners-2014 {
	a {
		color: $primary-2014;
	}
}
