body.contact-us {

	.hero {
		.column {
			margin: 50px auto 0 auto;

			h1 {
				margin-top: 1.6em;
				margin-bottom: 1.6em;

				@include max-width(950px) {
					font-size: 9vw;
				}
			}
		}
	}

	.column.six {
		.content {
			width: 90%;
			margin: 0 auto;
		}

		@include max-width(800px) {
			flex: 0 0 100%;

			&:last-of-type {
				margin-top: 5vw;
			}
		}
	}

	.row.last_row {
		text-align: right;
	}
}
