.user-profile {
	.hero {

		.bg-image-blur {
			position: absolute;
			background: 50% 45% / cover no-repeat;
			width: 100%;
			height: 100%;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			filter: blur(10px);

			@include dark_gradient();

			&::after {
				mix-blend-mode: color;
				opacity: 1;

				@include safari() {
					mix-blend-mode: multiply;
				}
			}
		}

		.column {
			margin: 17rem auto 15rem auto;

			.content {
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				.left {
					flex: 0 0 160px;

					.profile-pic {
						width: 90%;
						height: auto;
						margin: 0 auto;
						padding: .3rem;
						background: rgba($cta, 0.4);
						border-radius: 0.6rem;
						max-width: 150px;
					}
				}

				.right {
					flex: 11 11 calc(100% - 160px);

					h1 {
						line-height: 1;
						margin-top: 0;
						font-size: 5.5rem;

						@include min-width(1000px) {
							font-size: 7rem;
						}
					}

					h2 {
						margin-bottom: 0;
						text-transform: uppercase;
					}
				}

				.center {
					margin-top: 2rem;
					flex: 0 0 100%;

					ul {
						svg {
							path {
								fill: white;
							}
						}
					}
				}
			}

			@include max-width(650px) {
				margin: calc(10vw + 5rem) auto 10vw auto;

				.content {
					text-align: center;

					.left,
					.right,
					.center {
						flex: 0 0 100%;

						.profile-pic {
							margin-bottom: 5vw;
							max-width: 30vw;
						}

						h1 {
							font-size: 7.5vw;
							margin-bottom: 0.4em;
						}

						h2 {
							font-size: 4vw;
						}

						p {
							font-size: 3.25vw;
						}
					}
				}
			}
		}
	}
}
