// TODO: Test this
.subnav-dropdown {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	background: #f0efed;
	max-height: 100vh;
	overflow: auto;
	min-width: 320px;
	transition: all 250ms $cubic-bezier 0ms;
	transform: translateY(-100%);
	box-shadow: 0 0 3px 0 rgba(0,0,0,.325);

	.container {
		position: relative;
		max-width: 1230px;
		background: #f0efed;

		.column {
			height: 100%;
		}
	}

	@include min-width(1200px) {
		padding: 145px 0 50px 0;
	}
}


.subnav-dropdown {
	padding: calc(90px + 5vw) 0 90px 0;

	ul {
		@include unstyled;

		ul {
			display: none;
		}

		li {
			margin-bottom: 3.5vw;
		}

		a {
			color: $gray-mid;
			font-size: 2.2rem;
			position: relative;
			font-weight: 600;

			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				color: $gray-light;
				bottom: 0;
			}

			&:hover,
			&:focus {
				color: $gray;
			}
		}
	}

	.container {
		width: 90%;

		.column:first-of-type,
		.column:nth-of-type(2) {
			width: 50%;
			flex: 0 0 50%;
		}

		.column:last-of-type {
			margin-top: 10vw;
			width: 100%;
			flex: 0 0 100%;
		}
	}

	.nav-open & {
		transform: translateY(0%);

		&::after {
			opacity: 1;
		}
	}


	@include min-width(751px) {
		.container {
			max-width: 900px;
			position: relative;
		}

		ul {
			margin-top: 25px;

			li {
				margin-bottom: 40px;
			}
		}

		.column {
			height: 100%;
			width: 100%;
			flex: 0 0 33.333333% !important;
			margin-top: 0 !important;
			position: relative;

			&::after {
				content: '';
				display: block;
				width: 1px;
				height: 100%;
				position: absolute;
				top: 0;
				left: -60px;
				background: rgba(0, 0, 0, .125);
			}

			&:last-of-type {
				padding-top: 24px;

				&::after {
					left: -24px;
				}
			}

			&:first-of-type:after {
				display: none;
			}
		}
	}

	@include min-width(1000px) {

		.container {
			left: 50px;
		}

		.column {
			&::after {
				left: -125px;
			}

			&:last-of-type {
				left: 75px;

				&::after {
					left: -50px;
				}
			}
		}
	}
}

