.layout-multi_column {
	padding: 0;
	background: transparent 50% 50% / cover no-repeat;

	.progressive_image {
		margin: 0 auto;

		[data-action="zoom"] {
			&:hover,
			&:active,
			&:focus {
				transform: none !important;
			}
		}

		&::after {
			display: none;
		}
	}

	.container {
		align-items: center;
	}

	.kitchensink {
		padding: 3.2rem 0;
	}

	.one-half {
		.copy {
			.content {
				width: 90%;
				max-width: 600px;

				@include max-width(650px) {
					margin: 0 auto;
					text-align: center;
				}
			}
		}
	}

	.mosic {
		&.none { padding: 0; }
		&.default-breathing { padding: 6.4vw 0; }
		&.sm-breathing { padding: 7.4vw 0; }
		&.lg-breathing { padding: 12vw 0; }

		&:first-of-type {
			padding-top: 0;
		}

		@include min-width(1024px) {
			&.none { padding: 0; }
			&.default-breathing { padding: 6.4rem 0; }
			&.sm-breathing { padding: 7.4rem 0; }
			&.lg-breathing { padding: 12rem 0; }

			&:first-of-type {
				padding-top: 0;
			}
		}
	}

	.lead-in-content,
	.lead-out-content {
		text-align: center;
	}


	.lead-in-content {
		margin-bottom: 6vw;

		.default-breathing & { margin-bottom: 6vw; }
		.sm-breathing & { margin-bottom: 7.4vw; }
		.lg-breathing & { margin-bottom: 12vw; }


		@include min-width(1024px) {
			margin-bottom: 6rem;

			.default-breathing & { margin-bottom: 6rem; }
			.sm-breathing & { margin-bottom: 7.4rem; }
			.lg-breathing & { margin-bottom: 12rem; }
		}
	}

	.lead-out-content {
		margin-top: 6vw;

		.default-breathing & { margin-top: 6vw; }
		.sm-breathing & { margin-top: 7.4vw; }
		.lg-breathing & { margin-top: 12vw; }


		@include min-width(1024px) {
			margin-top: 6rem;

			.default-breathing & { margin-top: 6rem; }
			.sm-breathing & { margin-top: 7.4rem; }
			.lg-breathing & { margin-top: 12rem; }
		}
	}
}
