.layout-social_media {
	margin-bottom: 11rem;
	padding: 0;

	.hover {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0; left: 0; right: 0; bottom: 0;
		background: rgba(#333E48, 0.5);
		z-index: 2;

		svg {
			width: 25%;
			height: 25%;
			min-width: 32px;
			max-width: 40px;
			transition: all 0.225s $cubic-bezier 0.15s;

			.st0 { fill: rgba(255, 255, 255, 1); }
		}

		svg.medium {
			.st0 { fill: mix(#D0D2D3, rgba(255, 255, 255, 1), 50%); }
			.st1 { fill: mix(#A6A8AB, rgba(255, 255, 255, 1), 50%); }
			.st2 { fill: mix(#808184, rgba(255, 255, 255, 1), 50%); }
			.st3 { fill: mix(#58595B, rgba(255, 255, 255, 1), 50%); }
		}

		html.no-touch & {
			opacity: 0;
			transition: all 0.35s $cubic-bezier 0s;

			svg {
				transform: translateY(10px);
				opacity: 0;
			}
		}
	}

	@include max-width(650px) {
		width: 95%;
	}

	.column {
		position: relative;
		margin-bottom: 0 !important;
		flex: 0 0 calc(50% -  1.25vw);

		@include max-width(500px) {
			flex: 0 0 calc(50% -  1.25vw) !important;
		}

		@include max-width(650px) {

			&:last-of-type {
				display: none;
			}
		}

		.progressive_image {
			transition: all 30s $cubic-bezier 0s;
			transform: scale(1.01);
		}

		&:hover,
		&:active,
		&:focus {
			.progressive_image {
				transform: scale(1.2);
			}

			.hover {
				opacity: 1;

				svg {
					opacity: 1;
					transform: translateY(0);

					&.medium {
						opacity: 0.85;
					}
				}
			}
		}
	}

	.image,
	.video,
	.interactive,
	.copy {
		position: absolute;
		overflow: hidden;
		top: 0; left: 0; right: 0; bottom: 0;
		width: 100%; height: 100%;
		object-fit: cover;

		video {
			object-fit: cover;
		}
	}

	.copy {
		display: flex;
		align-items: center;

		.background-image {
			position: absolute;
			width: 100%; height: 100%;
			top: 0; left: 0; right: 0; bottom: 0;
			background: 50% 50% / cover no-repeat;
			transform: scale(1.05);
			filter: blur(6px);
			z-index: 0;
			opacity: 0.75;
		}

		p.h1 {
			width: 97%;
			left: 1.25%;
			position: relative;
			z-index: 1;
			color: white;
			margin: 0;
			font-size: 1.6rem;
		}

		&[min-width~="175px"] {
			p.h1 {
				font-size: 2.0rem;
			}
		}

		&[min-width~="350px"] {
			p.h1 {
				font-size: 3.2rem;
			}
		}

		&[min-width~="550px"] {
			p.h1 {
				font-size: 4.0rem;
			}
		}


	}

	.interactive {

		div {
			height: 100%;
		}

		iframe {
			height: 100%;
		}
	}

	.progressive_image {
		margin: 0;
		height: 100%;

		* {
			height: 100%;
			object-fit: cover;
		}

		&::after { box-shadow: none !important; }
	}

	.descript {
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: -5rem;

		p.smallcaps {
			color: $gray;
		}

		@include max-width(500px) {
			bottom: -5rem;

			p.smallcaps {
				font-size: 1.1rem;
			}
		}
	}

}
