.layout-screenshots {
	max-height: 40vw;
	overflow: hidden;

	@include min-width(1000px) {
		max-height: 500px;
	}

	.container {
		padding: 5rem 0 0 0;

		.column.three {
			flex: 3 4 25%;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			transition: all 0.45s $cubic-bezier 0s,
						opacity 0.3s linear 0s;
			opacity: 1;

			&::after {
				content: '';
				display: block;
				width: 50px;
				height: 50px;
				background: $cta url('../img/expand_icon.svg') 50% 50% / 16.5px 16.5px no-repeat;
				border-radius: 50%;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 300%);
				box-shadow: 0 2px 8px -4px $body-dark;
				transition: transform 200ms $cubic-bezier 0s, opacity 200ms $cubic-bezier 0.5s;
			}


			&:hover,
			&:active,
			&:focus {
				transform: scale(1.05);

				&::after {
					transform: translate(-50%, 300%) scale(1.2);
				}
			}
		}
	}

	.progressive_image {
		margin: 0 auto;
		transition: all 0.45s $cubic-bezier 0s !important;
		max-width: 90% !important;

		* {
			max-width: 100% !important;
		}
	}

	&.active {
		max-height: initial;

		.column.three {
			transform-origin: 0 50%;
			transform: scale(1) translateY(100%);
			opacity: 0;

			&::after {
				transform: rotate(45deg) !important;
				right: 1%;
				left: auto;
				bottom: 10%;
				top: auto;

				@include min-width(1000px) {
					right: 23%;
				}
			}

			&.active {
				transform: scale(1) !important;
				opacity: 1;
				display: block;

				&:active {
					transform: scale(0.9875) !important;
				}

			}

			.progressive_image {
				max-width: 100% !important;

				@include min-width(1000px) {
					max-width: 50% !important;
				}
			}
		}
	}

	[data-count="3"] {
		&[data-active="1"] {
			.column {
				flex: 0 0 0%;
				opacity: 0;
				transition: all 0.5s $cubic-bezier 0s !important;
			}

			.column:nth-of-type(1) {
				flex: 0 0 100%;
			}
		}

		&[data-active="2"] {
			.column {
				flex: 0 0 0%;
				opacity: 0;
				transition: all 0.5s $cubic-bezier 0s !important;
			}

			.column:nth-of-type(2) {
				flex: 0 0 100%;
			}
		}

		&[data-active="3"] {
			.column {
				flex: 0 0 0%;
				opacity: 0;
				transition: all 0.5s $cubic-bezier 0s !important;
			}

			.column:nth-of-type(3) {
				flex: 0 0 100%;
			}
		}
	}

	[data-count="2"] {
		&[data-active="1"] {
			.column {
				flex: 0 0 0%;
				opacity: 0;
				transition: all 0.5s $cubic-bezier 0s !important;
			}

			.column:nth-of-type(1) {
				flex: 0 0 100%;
			}
		}

		&[data-active="2"] {
			.column {
				flex: 0 0 0%;
				opacity: 0;
				transition: all 0.5s $cubic-bezier 0s !important;
			}

			.column:nth-of-type(2) {
				flex: 0 0 100%;
			}
		}
	}
}
