/*  -------------------------------------
	:: Page Navigation
	---------------------------------- */
	.page-navigation {
		display: flex;
		overflow: auto;
		padding: 5rem 0;
		width: 100%;
		background: white;

		&.sticky {
			position: fixed;
			top: $nav-min-height;
			z-index: 2;
			padding: 2rem 0;
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);

			& + section {
				margin-top: 12.8rem;
			}
		}

		@include min-width(783px) {
			body.admin-bar & {
				top: calc(#{$nav-min-height} + 32px);
			}
		}

		@include min-width(901px) {
			&.sticky {
				& + section {
					margin-top: 12.8rem;
				}
			}
		}

		@include min-width(1101px) {
			&.sticky {
				top: $nav-height;

				body.admin-bar & {
					top: calc(#{$nav-height} + 32px);
				}
			}
		}
	}
