.alert {
	position: fixed;
	bottom: -50px;
	padding-bottom: 50px;
	left: 50%;
	width: 50%;
	margin-left: -25%;
	color: $base;
	background-color: rgba(255,255,255,.8);
	text-align: center;
	border-radius: 6px 6px 0 0;
	border: 4px solid $base;
	border-bottom: 0;
	z-index: 99999;
}
