#home {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	z-index: 9;

	.stripe-container {
		position: fixed;
		display: block;
		height: 0;
		left: 50%;
		top: 50%;
		right: 0;
		bottom: 0;
		margin-top: 0;
		width: 0;
		z-index: 0;
		@include rotate(100deg, 1px);

		.stripe {
			width: 3000px;
			height: 205px;
			display: block;
			position: absolute;
			left: -1500px;
			margin-top: -450px;
			overflow: hidden;

			@include transition(height 400ms ease 0ms);

			&.orange {
				background-color: $orange;
				top: 0;
				z-index: 1;
			}

			&.yellow {
				background-color: $yellow;
				top: 200px;
				z-index: 2;
			}

			&.green {
				background-color: $green;
				top: 400px;
				z-index: 3;
			}

			&.blue {
				background-color: $blue;
				top: 600px;
				z-index: 4;
			}

			span {
				position: absolute;
				left: 42.5%;
				top: 75px;
				font-size: 40px;
				font-weight: 100;
				color: white;
				@include rotate(-100deg, 100px);
				@include transition(font-size 50ms ease-in-out 0ms, text-shadow 150ms ease 0ms);
			}

			&.kick {
				span {
					font-size: 46px;
				}
			}

			&.snare {
				span {
					font-size: 36px;
				}
			}

			&:hover {
				height: 205px;
				&.orange {
					top: -5px;
				}
				&.yellow {
					top: 195px;
				}
				&.green {
					top: 395px;
				}
				&.blue {
					top: 595px;
				}
				span {
					color: white;
					top: 100px;

					font-size: 26px;
					font-weight: 500;
					text-shadow: 100px 20px rgba(0, 0, 0, .25),
								-50px 150px rgba(0, 0, 0, .35),
								100px -50px rgba(0, 0, 0, .10),
								-100px 200px rgba(0, 0, 0, .20),
								-150px 75px rgba(0, 0, 0, .45),
								75px 50px rgba(0, 0, 0, .5);
				}
			}
		}
	}

	&.spread {
		.stripe-container {
			@include rotate(0deg, 0px);
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			.stripe {
				width: 800px;
				height: 200px;

				margin: 0;

				&.orange {
					top: 0;
					bottom: auto;
					left: -250px;
					right: auto;
					@include rotate(-45deg, 0px);
					span {
						top: 50px;
						@include rotate(45deg, 0px);
					}
				}

				&.yellow {
					top: 0px;
					bottom: auto;
					left: auto;
					right: -250px;
					@include rotate(45deg, 0px);
					span {
						top: 50px;
						@include rotate(-45deg, 0px);
					}
				}

				&.green {
					top: auto;
					bottom: 0;
					left: -250px;
					right: auto;
					@include rotate(45deg, 0px);
					span {
						top: 50px;
						@include rotate(-45deg, 0px);
					}
				}

				&.blue {
					top: auto;
					bottom: 0;
					left: auto;
					right: -250px;
					@include rotate(-45deg, 0px);
					span {
						top: 50px;
						@include rotate(45deg, 0px);
					}
				}
			}
		}
	}
}
