#home {
	margin-bottom: 0;
	page-break-after: avoid;

	.bio {
		width: 300px;
		padding: 30px;
		z-index: 99;
		background-color: $base;
		border-radius: 10px;

		img {
			width: 250px;
			height: 250px;
			display: block;
			margin: 0 auto;
			border-radius: 50%;
		}

		p {
			text-align: center;
			font-size: 16px;
			color: mix(#ffffff, $base);
			margin-bottom: 1.6em;
			line-height: 1.5555;
		}

		a.icon {
			font-size: 36px;
			margin-right: 13px;
			color: mix(#ffffff, $base);

			&.icon-facebook:hover {
				color: #3b5998;
			}

			&.icon-twitter:hover {
				color: #55acee;
			}

			&.icon-linkedin:hover {
				color: #0e76a8;
			}
		}

		@include respond-to($break-xs) {
			width: 260px;
		}
	}
}

