#inspirations {
	.container {
		h1 {
			text-align: center;
		}

		border: 5px solid white;
		margin-bottom: 30px;
		position: relative;

		pre, code {
			-ms-word-break: break-all;
			word-break: break-all;
			word-break: break-word;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
			font-size: 16px;
		}

		h1 {
			margin: 0;
		}

		h6 {
			position: absolute;
			right: 0;
			bottom: -80px;
		}
	}
}
