#resume {
	.container {
		border: 5px solid white;
		h1 {
			margin: 0;
		}
	}

	&.kick {
		.container {
			border-color: $orange;
		}
	}

	&.snare {
		.container {
			@include single-box-shadow(0px, 0px, 0px, 5px, $orange);
		}
	}
}
